alias w='cd ~/www'
alias m='cd ~/mobile'
alias mux='tmuxinator'

alias php-run='php -S 0.0.0.0:8000'
alias ys='yarn start'
alias rios='./node_modules/.bin/react-native run-ios --simulator="iPhone X"'
